{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>LawConnect - Edit Your Profile</title>
  <link rel="stylesheet" href="{% static 'css/advocate.css' %}">
</head>
<body>

  
  <header>
    <div class="logo">
      <img src="{% static 'images/legal_scales_logo.png' %}" alt="LawConnect Logo">
    </div>
    <nav>
      <ul>
          <li><a href="{% url 'client_dash' %}">Home</a></li>
          <li><a href="{% url 'advoc_list' %}">Advocate Listing</a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn">+ Cases</a>
            <div class="dropdown-content">
              <a href="{% url 'client_mycases' %}">My Cases</a>
              <a href="{% url 'sent_requests' %}">Sent Requests</a>
            </div>
          </li>
          <li><a href="{% url 'client_appts' %}">Appointments</a></li>
          <li><a href="{% url 'client_bills' %}">My Bills</a></li>
          <li class="dropdown">
            <a href="#" class="dropbtn">Account</a>
            <div class="dropdown-content">
              <a href="{% url 'client_profile' %}">My Profile</a>
              <a href="{% url 'logout' %}">Logout</a>
            </div>
          </li>
      </ul>
    </nav>
  </header>

  <section class="profile-section">
    <div class="profile-preview">
        <h2>Profile Preview</h2>
        <div class="user-details">
          {% if client_profile.profile_pic %}
              <img src="{{ client_profile.profile_pic.url }}" alt="Profile Picture">
          {% else %}
              <img src="{% static 'images/default_avatar.png' %}" alt="Default Avatar">
          {% endif %}
          <h3 id="preview-name">{{ profile.first_name }} {{ profile.last_name }}</h3>
          <p id="preview-phone">Phone: {{ profile.phone_number }}</p>
          <p id="preview-city">County: {{ profile.city }}</p>
          <p id="preview-postal">Postal Address: {{ profile.postal_address }}</p>
          <a href="{% url 'client_editprofile' %}" class="edit-button">Edit Profile</a>
        </div>
      </div>
  </section>

  <footer>
    <div class="footer-columns">
      <div class="footer-column">
        <h3>For Clients</h3>
        <ul>
          <li><a href="#">Hire an Advocate</a></li>
          <li><a href="#">Post a Job</a></li>
          <li><a href="#">Login to Account</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>For Advocates</h3>
        <ul>
          <li><a href="#">Apply for Job</a></li>
          <li><a href="#">Login to Account</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>Resources</h3>
        <ul>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Help and Support</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
   
    <p>© 2024 LawConnect. All rights reserved.</p>
  </footer>
</body>
</html>